*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    min-height: 60px ;
 border-bottom: 1px solid rgb(187, 186, 186);
display: flex;
justify-content: space-between;
 align-items: center; 
}

.nav-left{
display: flex;
align-items: center;
font-size: 2rem;
}


.nav-main{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.nm{
    display: flex;
 list-style-type: none;
 gap: 40px;
}

.nav-right{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.nav-right ul{
    display: flex;
    list-style-type: none;
    gap: 30px ;
    font-size: 2rem;
}

.nav-right img{
    height: 40px;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}